<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SiteFlowEntities" connectionString="metadata=res://*/SiteFlowEntity.SiteFlowModel.csdl|res://*/SiteFlowEntity.SiteFlowModel.ssdl|res://*/SiteFlowEntity.SiteFlowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=id39090;initial catalog=SiteFlow;persist security info=True;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Chateau_V2Entities" connectionString="metadata=res://*/Entity.ChateauV2Model.csdl|res://*/Entity.ChateauV2Model.ssdl|res://*/Entity.ChateauV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ID39090;initial catalog=Chateau_V2;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>