<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  <add name="MediaClipEntities" connectionString="metadata=res://*/MediaClipEntity.MediaClipModel.csdl|res://*/MediaClipEntity.MediaClipModel.ssdl|res://*/MediaClipEntity.MediaClipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=espsql.espc.local;initial catalog=MediaClip;user id=apps;password=oc9CLbXVRhcRECnv9SXK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="PicsMeEntities" connectionString="metadata=res://*/Entity.PicsMeModel.csdl|res://*/Entity.PicsMeModel.ssdl|res://*/Entity.PicsMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=espsql.espc.local;initial catalog=PicsMe;user id=apps;password=oc9CLbXVRhcRECnv9SXK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
