<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MediaClipEntities" connectionString="metadata=res://*/MediaClipEntity.MediaClipModel.csdl|res://*/MediaClipEntity.MediaClipModel.ssdl|res://*/MediaClipEntity.MediaClipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ID39090;initial catalog=MediaClip;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PicsMeEntities" connectionString="metadata=res://*/Entity.PicsMeModel.csdl|res://*/Entity.PicsMeModel.ssdl|res://*/Entity.PicsMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ID39090;initial catalog=PicsMe;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BaseUrlSiteFlow" value="https://orders.oneflow.io" />
    <add key="SiteflowKey" value="6tp9susbfnu47c6q3k3821soh698vej" />
    <add key="SiteflowSecretKey" value="300ajotn31rm8cpnb5l6sodro7c0dsgf" />
    <add key="NotificationEmails" value="applaud@espcolour.co.uk;S.Smogur@espcolour.co.uk;m.wheeldon@espcolour.co.uk" />
    <add key="NotificationEmailKnives" value="applaud@espcolour.co.uk;m.wheeldon@espcolour.co.uk" />
    <add key="NotificationEmailBelfield" value="applaud@espcolour.co.uk;help@thePicsMe.tv;support@belfielddesignstudio.com" />
    <add key="NotificationEmailPreOrder" value="applaud@espcolour.co.uk;help@thePicsMe.tv" />

    <add key="SFTP_path" value="\\192.168.0.84\PicsMeFTP\"/>
    <add key="SFTP_path_Processed" value="\\192.168.0.84\PicsMeFTP\ProcessedOrders\"/>
    <add key="StaticPDFPath" value="\\192.168.0.84\TheChateauTV\PicsMeStatic\" />


    <add key="UserName" value="ARAXI" />
    <add key="Password" value="123Araxi?" />
    <add key="Domain" value="ESPC" />
   
    <!--<add key="WorkingDirectory" value="H:/" />
    <add key="ServiceFolderPath" value="Services\PicsMeSiteFlowProcessor/" />-->

    <add key="WorkingDirectory" value="C:/" />
    <add key="ServiceFolderPath" value="Development\MergeIt\PicsMeSiteFlowProcessor/" />

  </appSettings>
</configuration>