<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="MediaClipEntities" connectionString="metadata=res://*/MediaClipEntity.MediaClipModel.csdl|res://*/MediaClipEntity.MediaClipModel.ssdl|res://*/MediaClipEntity.MediaClipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=espsql.espc.local;initial catalog=MediaClip;user id=apps;password=oc9CLbXVRhcRECnv9SXK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PicsMeEntities" connectionString="metadata=res://*/Entity.PicsMeModel.csdl|res://*/Entity.PicsMeModel.ssdl|res://*/Entity.PicsMeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=espsql.espc.local;initial catalog=PicsMe;user id=apps;password=oc9CLbXVRhcRECnv9SXK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<appSettings>
		<add key="BaseUrlSiteFlow" value="https://orders.oneflow.io" />
		<add key="NotificationEmails" value="applaud@espcolour.co.uk;admin@picsme.co.uk" />
		
		<add key="NotificationErrorEmails" value="m.wheeldon@espcolour.co.uk;r.kumar@espcolour.co.uk\" />
		

		<add key="SFTP_path" value="\\NAS3.espc.local\PicsMeFTP\"/>
		<add key="SFTP_path_Processed" value="\\NAS3.espc.local\PicsMeFTP\ProcessedOrders\"/>
		<add key="PICS_ME_INPUT" value="\\espc.local\workflow\Automation\From_FTP\Picsme\"/>

		<add key="StaticPDFPath" value="\\espc.local\workflow\Automation\Fixed_Assets\Picsme\" />
		<add key="OriginalOrderInputPath" value="\\espc.local\workflow\Automation\From_AutomationService\To_Siteflow\PDFs\Picsme\" />
		<add key="OriginalOrderJsonInputPath" value="\\espc.local\workflow\Automation\From_AutomationService\To_Siteflow\JSONs\Picsme\" />

		<add key="UserName" value="ARAXI" />
		<add key="Password" value="123Araxi?" />
		<add key="Domain" value="ESPC" />

		<!--<add key="WorkingDirectory" value="D:/" />
    <add key="ServiceFolderPath" value="Sites\PicsMeSiteFlowProcessor/" />-->

		<add key="WorkingDirectory" value="C:/" />
		<add key="ServiceFolderPath" value="Development\MergeIt\PicsMeSiteFlowProcessor/" />

	</appSettings>
</configuration>