<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SiteFlowEntities" connectionString="metadata=res://*/SiteFlowEntity.SiteFlowModel.csdl|res://*/SiteFlowEntity.SiteFlowModel.ssdl|res://*/SiteFlowEntity.SiteFlowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=id39090;initial catalog=SiteFlow;persist security info=True;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Chateau_V2Entities" connectionString="metadata=res://*/Entity.ChateauV2Model.csdl|res://*/Entity.ChateauV2Model.ssdl|res://*/Entity.ChateauV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ID39090;initial catalog=Chateau_V2;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="BaseUrlSiteFlow" value="https://orders.oneflow.io" />
    <add key="SiteflowKey" value="6tp9susbfnu47c6q3k3821soh698vej" />
    <add key="SiteflowSecretKey" value="300ajotn31rm8cpnb5l6sodro7c0dsgf" />
    <add key="NotificationEmails" value="applaud@espcolour.co.uk;S.Smogur@espcolour.co.uk;m.wheeldon@espcolour.co.uk" />
    <add key="NotificationEmailKnives" value="applaud@espcolour.co.uk;m.wheeldon@espcolour.co.uk" />

    <add key="SFTP_path" value="\\192.168.0.84\FTPRoot\"/>
    <add key="SFTP_path_Processed" value="\\192.168.0.84\FTPRoot\ProcessedOrders\"/>
    <add key="OriginalOrderInputPath" value="\\192.168.0.84\TheChateauTV\PDFs\" />
    <add key="ChateauKnivesReportPath" value="\\192.168.0.84\FTPRoot\ProcessedOrders\ChateauKnivesReport\" />
    <add key="StaticPDFPath" value="  \\192.168.0.84\TheChateauTV\STATIC\" />
  
    <!--<add key="WorkingDirectory" value="H:/" />
    <add key="ServiceFolderPath" value="Services\ChateauSiteFlowProcessorV2ApproachBKnives/" />-->

    <add key="WorkingDirectory" value="C:/" />
    <add key="ServiceFolderPath" value="Development\MergeIt\ChateauSiteFlowProcessorV2ApproachBKnives/" />

  </appSettings>
</configuration>