<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="processOnServiceStart" value="false" />
    <add key="processOnSaturday" value="true" />
    <add key="processOnSunday" value="true" />
    <add key="processEveryNMinutes" value="0.5" />
    <add key="processDailyAtTime" value="" />
    <add key="deleteBadFilesDailyAtTime" value="20" />
    <add key="domain" value="ID39090" />
    <add key="username" value="graphite.rack" />
    <add key="password" value="123Grand?" />
    <add key="BaseUrlSiteFlow" value="https://orders.oneflow.io" />
    <add key="SiteflowKey" value="6tp9susbfnu47c6q3k3821soh698vej" />
    <add key="SiteflowSecretKey" value="300ajotn31rm8cpnb5l6sodro7c0dsgf" />
    <add key="EMAIL_FROM" value="no-reply@chateaudelamottehusson.co.uk" />
    <add key="EmailRecipients" value="R.Kumar@espcolour.co.uk;A.Mistry@market-smart.co.uk;" />
  </appSettings>
  <connectionStrings>
    <add name="ChateauEntities" connectionString="metadata=res://*/Entity.ChateauModel.csdl|res://*/Entity.ChateauModel.ssdl|res://*/Entity.ChateauModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ID39090;initial catalog=Chateau_DEV2;persist security info=True;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SiteFlowEntities" connectionString="metadata=res://*/SiteFlowEntity.SiteFlowModel.csdl|res://*/SiteFlowEntity.SiteFlowModel.ssdl|res://*/SiteFlowEntity.SiteFlowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=id39090;initial catalog=SiteFlow;persist security info=True;user id=sa;password=Dreamliner2*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>